html{
    font-size: 72.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-style{
    display: flex;
    justify-content: space-around;
    background-color: #241e1d;
    top: 0;
    z-index: 10;
    position: sticky;
    border-bottom: 2px solid #e0ae3a;
}

#logo{
    width: 8rem;
}


.links{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-top: 2.1rem;
    font-size: 1.8rem;
}

.links a{
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.links a:hover{
    color: #e0ae3a;
}

.sec-3{
    margin-top: 1.8rem;
}

.gitlink{
    text-decoration: none;
    gap: 2rem;
    font-size: 2rem;
    color: #e0ae3a;
    background-color: none;
    border: .1rem solid #e0ae3a;
    padding: .3rem 2rem .6rem 2rem;
    border-radius: 5rem;
}

.sec-3:hover{
    margin-top: 1.5rem;   
}

.sec-3:active{
    margin-top: 1.8rem;
}


.hamburger-box{
    height: 5rem;
    width: 5rem;
    display: flex;
    gap: 1rem;
    margin-left: auto;
    flex-direction: column;
    margin-top: -5rem;
    opacity: 0;
}

.hamburger-box div{
    height: .5rem;
    width: 90%;
    background-color: #e0ae3a;
}

.hamburger-box.active div:first-child{
    margin-top: 1.5rem;
    transform: rotate(40deg);
}

.hamburger-box.active div:nth-child(2){
    margin-top: -1.5rem;
    transform: rotate(-40deg);
}

.hamburger-box.active div:nth-child(3){
   opacity: 0;
}


.abt{
    display: flex;
    align-items: center;
    gap: 10%;
    background-color: #241e1d;
    color: white;
    padding: 10rem 0;
}

.abt-s1{
    width: 35%;
    margin-left: 10%;
}


.abt-s1 h1{
    font-size: 5.3rem;
}

.abt-s1 h2{
    font-size: 3.3rem;
}

.abt-s1 h2 span{
    color: #e0ae3a;
}

.abt-s1 p{
    margin-top: 1rem;
    font-size: 2rem;
    color: #ffdc8b;
}

.abt-s1 a{
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 3rem;
    border: 2px solid #e0ae3a;
    color: #e0ae3a;
    border-radius: 5rem;
}


.abt-s2{
   width: 35%;
}

.abt-s2 #my-img{
    border: 2px solid #e0ae3a;
    margin-left: 5%;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    object-fit: cover;
}

.abt-s2 #my-img:hover{
    box-shadow: 0 0 10px #e0ae3a, 0 0 10px #e0ae3a;
}

#skills{
    padding: 0 0 10rem 0;
}



.skill-container{
    color: #ffdc8b;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.sub-cont{
    width: 38%;
    min-height: 48vh;
    text-align: center;
    border: .2rem solid #e0ae3a;
    border-radius: 2rem;
    position: relative;
}

.sub-cont:hover{
    box-shadow: 0 0 .5rem #e0ae3a, 0 0 .5rem #e0ae3a;
}

.cont{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sub-cont h2{
    color: #ffdc8b;
    font-size: 3rem;
}

.skill-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    padding: 1rem;
}


.skill-list span{
    font-size: 1.7rem;
    color: white;
    border: 1px solid #e0ae3a;
    padding: .8rem 2rem;
    border-radius: 2rem;
    margin: .4rem;
}

.lang-logo{
    width: 2.2rem;
}

#vision, #education, #skills{
    background-color: #241e1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.h1-style{
    color: white;
    text-align: center;
    font-size: 4.5rem;
}

.p-style{
    color: #ffdc8b;
    font-size: 2.2rem;
    text-align: center;
}

.vision-cont, .edu-cont{
    width: 50%;
    border: 2px solid #e0ae3a;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.vision-cont:last-child{
    margin-bottom: 5rem;
}

.edu-contt:last-child{
    margin-bottom: 5rem;
}

.vision-cont h2, .edu-cont h2{
    font-size: 2.5rem;
    color: white;
}

.vision-cont h3, .edu-cont h3{
    color: #e0ae3a;
    font-size: 2rem;
    font-weight: 400;
}

.yr-grad{
    color: white;
    font-size: 1.7rem;
}

.vision-cont p, .edu-cont p{
    color: #ffdc8b;
    text-indent: 3rem;
    font-size: 2rem;
}

.vision-cont .more, .edu-cont .more{
    display: none;
    transition: 2s ease-in-out;
}

.vision-cont:hover, .edu-cont:hover{
    box-shadow: 0 0 .5rem #e0ae3a, 0 0 .5rem #e0ae3a;
    transform: translateY(-.5rem);
    transition: .5s all;
}

.vision-cont:hover .more, .edu-cont:hover .more{
    display: inline;
}

.vision-cont:hover .dots, .edu-cont:hover .dots{
    display: none;
}

#projects{
    background-color: #241e1d;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.projects-main-container{
    display: grid;
    grid-template-columns: repeat(3, 22%);
    justify-content: center;
    grid-column-gap: 4%;
}

.card{
    margin-bottom: 5rem;
    background-color: #241e1d;
    border: 2px solid #e0ae3a;
    border-radius: 2rem;
    padding: 2rem;
    transition: .5s all;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.card:hover{
    transform: translateY(-1.5rem);
    box-shadow: 0 0 10px #e0ae3a, 0 0 10px #e0ae3a;
}

.card img{
    border-radius: 1rem;
    height: 25vh;
}

.proj-lang{
    list-style: none;
    font-size: 1.4rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.proj-lang span{
    padding: 0rem 1rem;
    border: 1px solid #e0ae3a;
    border-radius: 1rem;
    color: white;
}

.proj-desc{
    color: #ffdc8b;
    font-size: 2rem;
}

.imp-desc{
    color: white;
}

.proj-links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.proj-links a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #e0ae3a;
    border: 1.5px solid #e0ae3a;
    padding: .5rem;
    border-radius: 1.4rem;
}

.proj-links a:hover{
    background-color: #e0ae3a;
    color: white;
}

#education{
    padding-top: 5rem;
}

.edu-head, .vision-head, .proj-head, .skill-head{
    width: 55%;
}

.edu-cont:last-child{
    margin-bottom: 5rem;
}

#findme{
    padding: 5rem 0 3rem 0;
    background-color: #241e1d;
}

#findme h3{
    font-size: 2.3rem;
    color: white;
    text-align: center;
}

.footer-links{
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links a{
    text-decoration: none;
    color: #ffdc8b;
}

.footer-links a:hover{
    color: #e0ae3a;
}

.footer-icons{
    width: 3.3rem;
}

#findme p{
    margin-top: 3rem;
    font-size: 2rem;
    color: white;
    text-align: center;
}


@media (max-width: 360px){
    .abt{
        padding: 0;
    }
}

@media (max-width: 375px){
    .abt{
        padding: 0;
    }
}


@media (max-width: 381px){
    .abt-s2 #my-img{
        margin-top: 4.5rem;
        width: 23rem !important;
        height: 23rem !important;
    }
}

@media (min-width: 382px) and (max-width: 430px){
    /* .abt{
        height: 80vh;
        
    } */
    .sub-cont{
        min-height: 20vh !important;
    }
}

@media (max-width: 540px){
    .abt{
        padding: 0;
    }
    .gitlink{
        font-size: 1.5rem;
        padding: .2rem 1rem .5rem 1rem;
    }
}

@media (max-width: 590px) {
    html{
        font-size: 48%;
    }
    .nav-style{
        flex-direction: column;
    }

    .sec-3{
        margin-bottom: 1rem;
    }

    .links{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sec-3{
        display: none;
    }

    .sec-3.active{
        display: flex;
        justify-content: center;
        margin-left: 2rem;
    }

    .hamburger-box{
        opacity: 1;
    }
    .links{
        display: none;
    }

    .links.active{
        display: flex;
    }
    .abt{
        padding: 0;
        flex-direction: column-reverse;
        padding-bottom: 8rem;
        gap: 8rem;
    }
    .abt-s1{
        width: 90%;
        margin-right: 8%;
    }
    .abt-s2{
        margin-top: 5%;
        width: 90%;
        height: 30vh;
        display: flex;
        justify-content: center;
    }
    .abt-s2 #my-img{
        margin-top: 5rem;
    }
    .skill-container{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    .sub-cont{
        min-height: 30%;
        width: 80%;
    }

    .vision-cont, .edu-cont{
        width: 70% !important;
    }

    .vision-cont h2, .edu-cont h2{
        font-size: 2.2rem;
    }

    .projects-main-container{
        grid-template-columns: repeat(1, 70%) !important;
    }
    .edu-head,.vision-head, .proj-head, .skill-head{
        width: 70% !important;
    }

}


@media (max-width: 710px) {
    html{
        font-size: 50%;
    }   
    .abt-s1 h1{
        font-size: 4.8rem !important;
    }
    
    .abt-s1 h2{
        font-size: 3.3rem !important;
    }
    
    .abt-s1 p{
        font-size: 2rem !important;
    }
    
    .abt-s1 a{
        font-size: 2rem !important;
    }
}

@media (max-width >= 912px) {
    .sub-cont{
        min-height: 10vh !important;
    }
    .projects-main-container{
        grid-template-columns: repeat(2, 34%) !important;
    }

}


@media (max-width: 966px){
    
    
    .abt-s1 h1{
        font-size: 5.2rem;
    }
    
    .abt-s1 h2{
        font-size: 3.2rem;
    }
    
    .abt-s1 p{
        font-size: 1.9rem;
    }
    
    .abt-s1 a{
        font-size: 1.9rem;
        padding: .7rem 2rem;
    }
    .abt-s2 #my-img{
        width: 26rem;
        height: 26rem;
    }
    .skill-container{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    .sub-cont{
        min-height: 16vh;
        width: 70%;
    }
}


@media (max-width: 1024px){
    .sub-cont{
        min-height: 17vh;
        max-height: 100vh;
        padding: 2rem;
    }
    .skill-list span{
        font-size: 1.4rem;
    }
    .sub-cont h2{
        font-size: 1.8rem;
    }
    .vision-cont, .edu-cont{
        width: 70% !important; 
    }
}

@media (max-width: 1280px){
    .vision-cont, .edu-cont{
        width: 70%;
    }
    .projects-main-container{
        grid-template-columns: repeat(2, 36%);
    }
    .edu-head, .vision-head, .proj-head, .skill-head{
        width: 70%;
    }
}


@media (min-width: 1367px){
    html{
        font-size: 68%;
    }
}
