html{
    font-size: 72.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.h1-style{
    color: white;
    text-align: center;
    font-size: 4.5rem;
}

.p-style{
    color: #ffdc8b;
    font-size: 2.2rem;
    text-align: center;
}


#projects{
    background-color: #241e1d;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.projects-main-container{
    display: grid;
    grid-template-columns: repeat(3, 22%);
    justify-content: center;
    grid-column-gap: 4%;
}

.card{
    margin-bottom: 5rem;
    background-color: #241e1d;
    border: 2px solid #e0ae3a;
    border-radius: 2rem;
    padding: 2rem;
    transition: .5s all;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.card:hover{
    transform: translateY(-1.5rem);
    box-shadow: 0 0 10px #e0ae3a, 0 0 10px #e0ae3a;
}

.proj-img{
    border-radius: 1rem;
    height: 25vh;
}

.proj-lang{
    list-style: none;
    font-size: 1.4rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.proj-lang span{
    padding: 0rem 1rem;
    border: 1px solid #e0ae3a;
    border-radius: 1rem;
    color: white;
}

.proj-desc{
    color: #ffdc8b;
    font-size: 2rem;
}

.imp-desc{
    color: white;
}

.proj-links{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.code_live_link{
    text-decoration: none;
    font-size: 1.6rem;
    color: #e0ae3a;
    border: 1.5px solid #e0ae3a;
    padding: .5rem;
    border-radius: 1.4rem;
}

.code_live_link:hover{
    background-color: #e0ae3a;
    color: white;
}





@media (max-width: 590px) {

    .projects-main-container{
        grid-template-columns: repeat(1, 70%) !important;
    }
    .proj-head{
        width: 70% !important;
    }

}


@media (max-width >= 912px) {
    .projects-main-container{
        grid-template-columns: repeat(2, 34%) !important;
    }

}

@media (max-width: 1280px){
    .projects-main-container{
        grid-template-columns: repeat(2, 36%);
    }
    .proj-head{
        width: 70%;
    }
}

