<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.alt}}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="card">
        <img src="{{data.img_src}}" alt="{{data['alt']}}">
        <div class="proj-lang">
            {% for lang in data['lang_used'] %}
            <span>{{lang}}</span>
            {% endfor %}
        </div>
        <p class="proj-desc">{{data['proj_desc1']}} <span class="imp-desc">{{data['proj_desc2']}}</span></p>
        <div class="proj-links">
            <a href="{{data['code_link']}}" target="_blank">View code</a>
            <a href="{{data['live_link']}}" target="_blank">View live</a>
        </div>
    </div>
</body>
</html>